@import "../../../styles/general.scss";

.post-display-section {
  display: grid;
  align-content: start;
  gap: 2rem;
  padding: 2rem;
  background-color: $body-bg;
  width: 100%;
  height: 100%;
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    .go-back {
      background-color: white;
      padding: 0.4rem;
      font-size: 0.8rem;
      border-radius: 50%;
      cursor: pointer;
    }
    .go-back:hover{
      background-color: rgb(220, 219, 219);
    }
  }
}
